#if _MSC_VER >= 1500
  #define wxUSE_NO_MANIFEST 1
  // this is Visual C++ 2008
#elif _MSC_VER >= 1400
   // this is Visual C++ 2005
#elif _MSC_VER >= 1310
   // this is Visual c++ .NET 2003
#elif _MSC_VER > 1300
   // this is Visual C++ .NET 2002
#endif 


#include <wx/msw/wx.rc>
IDI_ICON1 ICON DISCARDABLE "app.ico"
